
      
      
      
      
      





<table id="example" class="table table-striped" style="width:100%">
        <thead>
          
            <tr>
                <th>ID</th>
                <th>Nombre y Apellido</th>
                <th>Dirección para retirar Paquete</th>
                <th>Provincia</th>
                <th>Ciudad</th>
                <th>Franja horaria para retirar el paquete</th>
                <th>Fecha para retirar el paquete</th>
                <th>Caracteristicas</th>
                <th>Dni Autorizado a Rerirar el paquete</th>
                <th>Fecha de Entrega</th>
                <th>Hora de Entrega</th>
                <th>Direccion de Entrega</th>
                <th>Ciudad de Entrega</th>
                <th>Provincia de Entrega</th>
                <th>Precio</th>
                
                

            </tr>
        </thead>
        <tbody>
           {{#each results}}
            <tr>
                <td>{{id}}</td>
                <td>{{nombreyapellido}}</td>
                <td>{{dirretiro}}</td>
                <td>{{provincia}}</td>
                <td>{{ciudad}}</td>
                <td>{{hora}}</td>
                <td>{{fecha}}</td>
                <td>{{caracteristicas}}</td>
                <td>{{dniretiro}}</td>
                <td>{{fechaentrega}}</td>
                <td>{{horaentrega}}</td>
                <td>{{direntrega}}</td>
                <td>{{ciudadentrega}}</td>
                <td>{{provinciaentrega}}</td>
                <td>{{precio}}</td>
           
            </tr>
           
        </tbody>
              <td>
              </td>
                <td>
                 
                  <!-- Button trigger modal -->



                  
                </td>
                <td>
                

                </td>
                
                
            </tr>
         
             
       
            
            {{/each}}
            
            
             <div>
              <br>
              
              
             </div>
        </tbody>
        <tfoot>
            </table>
            

            
  
 


<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Editar</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">boton2</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/edit/:id" method="post">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"></label>
            <input type="text" class="form-control" name="nombreyapellido"">
          </div>
          
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send message</button>
      </div>
          

   

      





