
<div class="container"> 
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.agd.com.ar/sites/default/files/productos/productos-agd-logo.jpg" class="d-block w-75" alt="Aceites">
    </div>
    <div class="carousel-item">
      <img src="https://www.agd.com.ar/sites/default/files/productos/productos-agd-logo.jpg" class="d-block w-75" alt="Aceites">
    </div>
    <div class="carousel-item">
      <img src="https://www.agd.com.ar/sites/default/files/productos/productos-agd-logo.jpg" class="d-block w-75" alt="Aceites">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

{{!-- Mostramos los Productos en la Tabla --}}
<div class="container">
    <div class="text-center m-5">
        <h2> Lista de Productos</h2>
    </div>
    
    <table class="table table-striped" id="mytable">
        <thead>
            <tr>
                <th> Productos ID</th>
                <th> Producto nombre </th>
                <th> Precio </th>
                <th> Acción </th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                <td> {{ producto_id}}</td>
                <td> {{ producto_nombre}}</td>
                <td> {{ producto_precio}}</td>
                <td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-info edit" data-id="{{ producto_id}}" data-producto-nombre="{{ producto_nombre}}" data-producto_precio="{{ producto_precio}}">Editar</a>    
                        <a href="javascript:void(0);" class="btn btn-danger delete" data-id="{{ producto_id}}">Borrar</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
</div>
</div>


{{!-- AÑADIR Modal --}}


{{!-- /EDITAR  --}}

<form action="/update" method="post">
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Editar Producto </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#my-modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <div class="form-group mt-3">
                    <input type="text" name="producto_nombre" class=" form-control producto_nombre" placeholder=" Producto Nombre" required>
                </div>
                <div class="form-group mt-3">
                    <input type="text" name="producto_precio" class=" form-control precio" placeholder="Precio" required>
                </div>
                <div class="modal-footer mt-3">
                <input type="hidden" name="id" class="producto_id">
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#my-modal" aria-label="Close"></button>
                <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
                </div>
            </div>
            </div>
</div>

</form>


{{!-- Modal delete --}}

        <form id="add-row-form" action="/delete" method="post">
            <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Borrar Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#my-modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <strong>¿Estás seguro de borrar este elemento?</strong>
                    </div>
                    <div class="modal-footer">
                    <input type="hidden" name="producto_id" class="form-control producto_id2" required>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#my-modal" aria-label="Close"></button>
                        <button type="submit" class="btn btn-success">Eliminar</button>
                    </div>
                        </div>
                </div>
            </div>
        </form>




<script src="/assets/jquery-3.3.1.js"></script>


<script>
$(document).ready(function(){
    //Mostrar datos al modal para editar registro
    $('#mytable').on('click', '.edit', function(){
        let producto_id = $(this).data('id');
        let producto_nombre = $(this).data('producto_nombre');
        let producto_precio = $(this).data('producto_precio');
        $('#EditModal').modal('show');
        $('.producto_nombre').val(producto_nombre);
        $('.precio').val(producto_precio);
        $('.producto_id').val(producto_id);
    })
    // Modal DELETE     
    $('#mytable').on('click', '.delete', function(){
        let producto_id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.producto_id2').val(producto_id);

    })
})
</script>